html {
  background: #000;
  color: whitesmoke;
  font-family: Helvetica "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: 20px;
}
.date {
  position: absolute;
  font-size: 20px;
  top: 6%;
}
.time {
  position: absolute;
  top: 8%;
  font-size: 45px;
}
.icon {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 200px;
  height: 100px;
  font-size: 60px;
  display: inline-block;
}
.currentTemp {
  position: absolute;
  top: 2%;
  right: 0;
  width: 200px;
  height: 100px;
  font-size: 65px;
  display: inline-block;
}

.weather_txt {
  position: absolute;
  top: 11%;
  right: 12%;
  width: auto;
  height: 100px;
  font-size: 18px;
}

.city {
  position: absolute;
  padding: 45px;
  right: 0;
  width: 200px;
  height: 110px;
  font-size: 15px;
  display: inline;
}
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  font-size: 15px;
  display: inline;
}
.sexy_line {
  position: absolute;
  top: 18%;
  left: 1.5%;
  width: 350px;
  border: none;
  color: white;
  height: 1px;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    300,
    from(rgb(253, 253, 253)),
    to(rgb(0, 0, 0))
  );
}
.sexy_line1 {
  position: absolute;
  top: 16.5%;
  right: 80px;
  width: 300px;
  border: none;
  color: white;
  height: 1px;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    200,
    from(rgb(253, 253, 253)),
    to(rgb(0, 0, 0))
  );
}

.todo {
  position: absolute;
  top: 13%;
  left: 2%;
}

.li {
  font-size: 20px;
  list-style-type: none;
}
li:nth-of-type(4n) {
  color: rgba(255, 255, 255, 0.575);
}
li:nth-child(n + 5):nth-child(-n + 8) {
  color: rgba(255, 255, 255, 0.185);
}
li:nth-child(n + 9):nth-child(-n + 20) {
  color: rgba(255, 255, 255, 0.1);
}

.weatherItem {
  list-style-type: none;
  margin-top: 0.5em;
}

.divWeatherItem {
  position: absolute;
  top: 20%;
  right: 9%;
  font-size: 18px;
}
.weather_other_info {
  position: absolute;
  padding: 2px;
  top: 16.8%;
  right: 5%;
  font-size: 20px;
}
